* {
    color:  blue;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';



}
.main{
    display: flex;

}
.left {
    width:30%;
    border: 3px solid #eaecee;
    box-shadow: 3px 3px 3px #ddd;
    margin: 3px;

}
img{
    width:95%;
}
.right{
    margin: 3px;
    width: 65%;
    border: 2px solid #ddd;
    box-shadow: 3px 3px 3px #ddd;
    
}
.cr{
    color: greenyellow;
}
.skills{
    background-color: aquamarine;
    border: 2px solid #ddd;
    box-shadow: 3px 3px 3px #ddd;
    padding: 3px;
    border-radius: 3px;
}